/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
.custom-navbar{
  -webkit-app-region: drag;
}
.no-drag{
  -webkit-app-region: no-drag;
}
body, html {
  border-radius: 20px;
}
